<!-- templates/product-list.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<title>Product List</title>
</head>
<body>
	<h2>Product List</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.name}"></td>
				<td th:text="${product.price}"></td>
				<td><a th:href="@{/products/{id}(id=${product.id})}">View</a> <a
					th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a> <a
					th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/products/new">Add New Product</a>
</body>
</html>
